@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&family=Roboto:wght@300&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: turquoise;
}




nav ul{
    display: flex;
    
}
nav li{
    list-style: none;
    margin-right: 15px;
   
}

nav li:hover{
    background-color: yellow;
    
    
}

nav li a{
    text-decoration: none;
    color: black;
    
    
}

.heading{
    display: flex;
}

.btn{
    text-decoration: none;
    width: 120px;
    height: 30px;
    background-color: palevioletred;
    border-radius: 20px;
    font-size: 18px;
}

/* ------------Popullar collection---------- */

/* .container{
    display: flex;
    align-items: center;
    
    
} */

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
}


.title{
    text-align: center;
}
.logo{
    list-style: none;
    display: flex;
   
}

.logo{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.fa-star{
    color: goldenrod;
}

.rating{
    display: flex;
}



.second{
    margin-top: 8px;
    margin-right: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color:white;
    width: 310px;
}
